.container-download{
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 48px 0;
}
.container-download table{
  margin-top: 24px;
  width: 700px;
  /* box-shadow: 5px 5px 5px rgba(0,0,0,0.2); */
  border-spacing: 0;
}

.container-download table thead tr th {
  text-align: start;
  padding: 16px;
  background-color: #A26769;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
}

.container-download table tbody tr td {
  text-align: start;
  padding: 16px;
  color: #555555 ;
  background-color: #FFF;
  font-size: 16px;
}
.container-download table tbody tr td img{
  width: 72px;
  height: 72px;
}