.container-imagesList{
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  /* align-items: center;
  justify-content: center; */
}
.title-imagesList{
  font-size: 40px;
  text-align: center;
  margin: 48px 0;
}
.content-imagesList{
  width: 70%;
  padding: 12px;
}

/* Gallery */
.grid-imagesList{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows:  repeat(7, 1fr);
  grid-gap: 12px;
}
.card-image{
  height: calc(100% - 48px);
}
.card-description{
  height: 48px;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
}
.card-text{
  text-align: left;
  width:70%;
}
.card-favorite{
  width: 30%;
  text-align: right;
}
.btn-off{
  text-align: center;
  background-color: transparent;
  padding: 4px 8px;
  border: 1px solid #A26769;
  border-radius: 4px;
  color: #A26769;
  font-weight: 700;
}
.btn-on{
  text-align: center;
  background-color: #A26769;
  padding: 4px 8px;
  border: 1px solid #A26769;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
}
.grid-item{
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
  border-radius: 4px;
}
.grid-item-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px 4px 0px 0px;
}
.grid-item:nth-child(1){
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
.grid-item:nth-child(2){
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.grid-item:nth-child(5){
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
.grid-item:nth-child(6){
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}
.grid-item:nth-child(7){
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}
.grid-item:nth-child(8){
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
}
.grid-item:nth-child(9){
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 7;
}
.grid-item:nth-child(10){
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
}
.grid-item:nth-child(11){
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
}
.grid-item:nth-child(12){
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 7;
}

.hoverzoom {
	position: relative;
  overflow: hidden;
}
.hoverzoom > img {
  width: 100%; 
	-webkit-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
	    -moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
	     -ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
	      -o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
	         transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
}
.hoverzoom:hover > img {
	-webkit-transform: scale(1.5);
	   -moz-transform: scale(1.5);
	    -ms-transform: scale(1.5);
	     -o-transform: scale(1.5);
	        transform: scale(1.5);
}
.hoverzoom .retina{
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;    
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);    
    border-radius: 2px;
    text-align: center;

    -webkit-transition:	 all .8s cubic-bezier(.190, 1.000, .220, 1.000);
	    -moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
	     -ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
	      -o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
	         transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000); 
}
.hoverzoom:hover .retina {
    opacity: 1;
    box-shadow: inset 0 0 100px 50px rgba(0,0,0,.5);
    
}
.retina{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  margin-right: 8px;
	color: #fff;
  text-align: center;
}
.retina svg {
  margin-right: 8px;
}

/* End Gallery */

/* Filters */
.filters{
  width: 30%;
  padding: 24px 0 0 48px;
}
.filters h2 {
  text-align: center;
}
.grayscale-filter h4{
  margin: 24px 0 8px 0;
}
.blur-filter h4{
  margin: 24px 0 8px 0;
}
.blur-filter select{
  width: 25%;
  background-color: #C4C4C4;
  border: none;
  border-radius: 4px;
  padding: 12px;
  color: #555555;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
.limit-filter h4{
  margin: 24px 0 8px 0;
}
.limit-filter select{
  width: 25%;
  background-color: #C4C4C4;
  border: none;
  border-radius: 4px;
  padding: 12px;
  color: #555555;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.filters button {
  width: 100%;
  margin: 48px 0;
  padding: 18px 48px;
  background-color: #A26769;
  font-weight: 700;
  font-size: 16px;
}

.filters button a {
  color: #fff;
}
.filters button svg{
  margin-right: 12px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

/* End Filters */

