.container{
  margin: 0 auto;
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.form {
  width: 400px;
  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.10);
  border-radius: 4px;
  padding: 48px 40px;
}
.form h2{
   font-size: 40px;
   margin-bottom: 48px;
}
.form div {
    margin: 2px 0 12px 0;
}
.form label {
    display: block;
}
.form input{
  margin-bottom: 4px;
  display: block;
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 4px;
  background-color: #E7E5E5;
}
.form span {
  color: red;
  font-weight: bold;
}
.form button{
  width: 100%;
  margin: 24px 0;
  padding: 16px 40px;
  border: none;
  background-color: #A26769;
  color: #fff;
  font-weight: 700;
  border-radius: 4px;
  font-size: 16px;
}
.form p {
  text-align: center;
}
.imgLogin{
  width: 500px;
  margin-right: 80px;
}
