.btn-favorite-off{
  text-align: center;
  padding: 16px 24px;
  background-color: transparent;
  border: 1px solid #A26769;
  border-radius: 4px;
  color: #A26769;
  font-weight: 700;
  width: 100%;
  font-size: 16px;
}
.btn-favorite-on{
  text-align: center;
  padding: 16px 24px;
  background-color: #A26769;
  border: 1px solid #A26769;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  width: 100%;
  font-size: 16px;
}