/* Content */
.container-home{
  margin: 0 auto;
  width: 80%;
  display: flex;
  height: calc(100vh - 91px);
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.content-home{
  width: 50%;
}

.content-home h2{
  font-size: 48px;
  margin: 24px 0;
}
.content-home p {
  font-size: 16px;
  line-height: 32px;
}
.imgHome{
  margin-left: 24px;
  width: 50%;
}
.content-home a button {
  width: 100%;
  margin: 24px 0;
  padding: 18px 48px;
  background-color: #A26769;
  font-weight: 700;
  font-size: 16px;
  color: #FFF;
}
.content-home a button svg{
  margin-right: 8px;
  color: #fff;
}

