.container-imageDownload{
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  padding-bottom: 48px;
}
.title {
  margin: 48px auto 24px auto;
  width: 90%;
}
.title h1{
  margin-top: 24px;
}

.content-imageDownload{
  width: 60%;
  display: flex;
  flex-direction: column;
}
.content-imageDownload img {
  width: 100%;
  border-radius: 4px;
}
.content-imageDownload button {
  border: solid 1px #A26769;
  color: #A26769;
  background-color: #fff;
  font-size: 14px;
  font-weight: 700;
  width: 20%;
  margin-top: 12px;
  padding: 12px 24px;
}
.container-imageDownload button svg {
  margin-left: 8px;
  font-weight: 700;
}
.content-tools{
  width: 40%;
  padding: 0px 48px;
  display: flex;
  flex-direction: column;
}
.filter-imageDownload{
  margin: 24px 0;
}
.filter-imageDownload h4{
  margin-bottom: 12px;
}
.tool-imageDownload div{
  margin: 24px 0;
}

.btn-download {
  background-color: #A26769;
  padding: 16px 24px;
  border: none;
  width: 100%;
  border-radius: 4px;
  text-align: center;
}
.btn-download a {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
.btn-download a svg{
  margin-left: 8px;
}

/* .dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
} */

